name: "Danger JS"
on: [pull_request]

jobs:
    danger:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "14"
            - name: Install dependencies
              run: npm install
            - name: Run Danger
              run: npx danger ci
              env:
                  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN_TO_BOT}}
